.cardPricing{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 4rem;
}

.cards{
    flex-direction: column;
}

.card-header{
    text-align: center;
}

.card-body{
    text-align: center;
}

.vazio{
    width: 34%;
}

.title{
    width: 22%;
}
.table-responsive{
    padding-bottom: 3rem;
}
.bi{
    width: 24px;
    height: 24px;
}