h1{
    font-style: bold;
    padding-bottom: 10px;
}

.home{
    background-image: url("../../assets/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardPromo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(255, 255, 255);
    animation-name: fade-in-up;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
}

h4{
    padding-bottom: 10px;
}