.imgFeature {
    width: 50%;
    border-radius: 100px;
    object-fit: cover;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-items: center;
    padding-top: 13rem;
    padding-bottom: 13rem;
}

.featuresCard {
    display: flex; /* Para garantir que o conteúdo do card seja alinhado corretamente */
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo dentro do card */
    padding: 25px;
    margin: 10px; /* Espaçamento entre os cards */
    max-width: 300px; /* Largura máxima dos cards */
    text-align: center; /* Centraliza o texto dentro do card */
}

.imgFeature {
    width: 100%; /* Faz com que a imagem se ajuste à largura do card */
    max-width: 180px; /* Largura máxima da imagem para garantir que não fique muito grande */
    border-radius: 100px;
    object-fit: cover;
}