@font-face {
    font-family: 'fonts3d';
    src: url(funnypages.ttf) format('truetype');
}
h1{
    font-family: 'fonts3d';
    font-style: bold;
}
section{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 700px;
}
.cardPromo{
    display: flex;
    flex-direction: column;
    align-self:flex-start;
    color: rgb(65, 62, 62);
    padding-top: 20rem;
}